@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes photoshop {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@keyframes illustrator {
  0% {
    width: 0px;
  }
  100% {
    width: 55%;
  }
}
@keyframes wordpress {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes html5 {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes jquery {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes photoshop {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@-moz-keyframes illustrator {
  0% {
    width: 0px;
  }
  100% {
    width: 55%;
  }
}
@-moz-keyframes wordpress {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes html5 {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@-moz-keyframes jquery {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@-webkit-keyframes photoshop {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@-webkit-keyframes illustrator {
  0% {
    width: 0px;
  }
  100% {
    width: 55%;
  }
}
@-webkit-keyframes wordpress {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@-webkit-keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes html5 {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes jquery {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
